    h1{text-align: center;
        color: #cedc00;
    }
    body{ background-color: #0A7968;}
    header{
        text-align: center;
        color: #cedc00;
        background-color: cadetblue;

    }

    p,li{
        text-align: center;
        font-size: 25px;
        font-family:'Times New Roman';
    }
    .crianca{
       display:grid;
        margin:auto;
        padding: 50px;
         height: 400px;
        width: 600px;
        
    }
        .nissan{
       display:grid;
        margin:auto;
        padding: 50px;
         height: 400px;
        width: 600px;
        
    }
        .f3000{
       display:grid;
        margin:auto;
        padding: 50px;
         height: 400px;
        width: 600px;

        
    }    .minardi{
       display:grid;
        margin:auto;
        padding: 50px;
        height: 400px;
        width: 600px;
    }
    h2,h3{
        text-align: center;
      font-size: 30px;  
      color: #cedc00;
    }
   .meme{
       display:grid;
        margin:auto;
        padding: 50px;
        height: 200px;
        width: 400px;}