    h1{text-align: center;
        color: #cedc00;
    }
    body{ background-color: #0A7968;
display:grid;}

    p{
        text-align: center;
        font-size: 25px;
        font-family:'Franklin Gothic Medium';
    }
    .imagem{
        place-items:center;
        padding: 50px;
        
    }