    h1{text-align: center;
        color: #cedc00;
    }
    body{ background-color: #0A7968;}

    p,li{
        text-align: center;
        font-size: 25px;
        font-family:'Times New Roman';
    }
    .criaca{
       display:grid;
        margin:auto;
        padding: 50px;
         height: 200px;
        width: 300px;
        
    }
        .nissan{
       display:grid;
        margin:auto;
        padding: 50px;
         height: 200px;
        width: 300px;
        
    }
        .f3000{
       display:grid;
        margin:auto;
        padding: 50px;
         height: 200px;
        width: 300px;

        
    }    .minardi{
       display:grid;
        margin:auto;
        padding: 50px;
        height: 200px;
        width: 300px;
    }
    h2,h3{
        text-align: center;
      font-size: 30px;  
      color: #cedc00;
    }
   .meme{
       display:grid;
        margin:auto;
        padding: 50px;
        height: 200px;
        width: 300px;}