    h1,h2,h3{text-align: center;
        color: #cedc00;
    }
    body{ background-color: #0A7968;}

    p,li{
        text-align: center;
        font-size: 25px;
        font-family:'Times New Roman';
    }
    .criaca{
       display:grid;
        margin:auto;
        padding: 50px;
        
    }
        .nissan{
       display:grid;
        margin:auto;
        padding: 50px;
        
    }
        .f3000{
       display:grid;
        margin:auto;
        padding: 50px;
        
    }    .minardi{
       display:grid;
        margin:auto;
        padding: 50px;
        
    }