    h1{text-align: center;
        color: #cedc00;
    }
    body{ background-color: #0A7968;}

    p{
        text-align: center;
        font-size: 25px;
        font-family:'Times New Roman', Times, serif;
    }
    .imagem{
       display:grid;
        margin:auto;
        padding: 50px;
        
    }